@model CartViewModel

@{
    ViewData["Title"] = "Cart Overview";
}


@if (Model.CartItems.Count > 0)
{
    <h1>Cart Overview</h1>

    <div class="cartWrapper">
        <div class="cartbg d-none">
            <h3 class="text-center">Redireting you to paypal</h3>
            <img src="~/images/ajax-loader.gif" />
        </div>
        <table class="table">
            <tr>

                <th>Product</th>
                <th>Quantity</th>
                <th></th>
                <th>Price</th>
                <th>Total</th>

            </tr>

            @foreach (var item in Model.CartItems)
            {
                <tr>
                    <td>@item.ProductName</td>
                    <td>@item.Quantity</td>
                    <td>
                        <a asp-action="Add" asp-route-id="@item.ProductId">
                            <i class="material-icons-outlined cart-icons-small">add_circle_outline</i>
                        </a>
                        <a asp-action="Decrease" asp-route-id="@item.ProductId">
                            <i class="material-icons-outlined cart-icons-small">remove_circle_outline</i>
                        </a>

                        <a asp-action="Remove" asp-route-id="@item.ProductId">
                            <i class="material-icons-outlined cart-icons-small">delete</i>
                        </a>
                    </td>
                    <td>@item.Price.ToString("C2")</td>
                    <td>@Model.CartItems.Where(x => x.ProductId == item.ProductId).Sum(x => x.Quantity * x.Price).ToString("C2") </td>
                </tr>
            }

            <tr>
                <td class="text-right" colspan="5" style="font-size:20px; font-weight:bold;">Grand total: @Model.GrandTotal.ToString("C2")</td>
            </tr>

            <tr>
                <td class="text-right" colspan="4">
                    <div class="custom-button add" style="width:110px; height:40px; float:right; bottom:5px;">
                        <a class="littleb" asp-action="Clear">Clear</a>
                    </div>
                </td>
                <td><a href="#" class="checkout" id="paypal-button-container"></a></td>

                

            </tr>


            <tr></tr>
        </table>
    </div>
}
else
{
    <h3 class="display-4 text-center">Your Cart is empty.</h3>
}

<partial name="~/Areas/General/Views/Cart/_PaypalPartial.cshtml" for="CartItems" />

@section Scripts{

    <script>
        $(function () {
            $("a.checkout").click(function (e) {
                e.preventDefault(); /*this prevents default action for example link getting somewhere or here go to /generel/cart/add/id*/
                $("div.cartbg").removeClass("d-none");
                $.get("/general/cart/clear", {}, function () {
                    $("form.paypalform").submit();
                });

            });
        });
    </script>

    <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
    <script>
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'blue',
                layout: 'horizontal',
                label: 'paypal',

            },
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '1'
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                });
            }
        }).render('#paypal-button-container');
    </script>

}
